*{
	padding: 0px;
	margin: 0px;
}

.menu-bar{
	background: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px -1px 14px -5px rgb(0 0 0 )
}

.md-logo-inner{
	width: 75%;
	margin: 0 auto;
	overflow: hidden;
	/*height: 70px;*/
	background-color: white;
	padding: 11px;
}

.md-logo-image{
	float: left;
	margin-left: 14px;
}

.menu-link{
	/*float: right;
	list-style-type: none;*/
	float: right;
}

.menu-linkk > li{
	/*float: right;
	list-style-type: none;
	display: inline;
	margin-right: 20px;*/
	float: left;
	list-style-type: none;
	margin-left: 18px;
	margin-right: 18px;
	padding: 14px;
	cursor: pointer;
}


ul li{
	/*float: right;
	list-style-type: none;
	margin-left: 18px;
	margin-right: 18px;
	padding: 14px;*/

}

/*banner-section*/

.banner{
	background-color: rgba(32,173,150,0.05);
	overflow: hidden;
}

.banner-inner{
	width: 75%;
	margin: 0 auto;
	/*background-color: white;*/
	overflow: hidden;
	padding-top: 100px;
    padding-bottom: 120px;
}

.banner-para{
	width: 50%;
	float: left;
}

.banner-heading{
	padding: 15px;
    padding-top: 65px;
}

.distan{
	    font-size: xxx-large;
	    color: #3f3a64;
}

.lorem{
	font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.4;
    padding: 15px;
    margin-left: -12px;
    color: #8c89a2;;
}

.banner-img{
	width: 50%;
	float: right;
	height: 480px;
	width: 480px;
	margin-right: 75px;
}

.button-1{
	padding: 15px 30px;
    border-radius: 7px;
    /* margin-left: 0px; */
    background-color: #20ad96;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.button-2{
	padding: 15px 30px;
    border-radius: 7px;
    margin-left: 20px;
    background-color: #3f3a64;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

/*CHOOSE-SECTION*/

.choose{
	background-color: white;
	overflow: hidden;
}

.choose-inner{
	width: 75%;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 70px;
}

.choose-inner-1{
	text-align: center;
}

.headding{
	padding-top: 60px;
    padding-bottom: 60px;
}

.choose-what{
	color: #75cbbe;
	letter-spacing: 3px;
}

.choose-why{
	color: #3f3a64;
	margin-bottom: 14px;
    margin-top: 14px;
    letter-spacing: 1px;
}

.choose-para{
	color: #8c89a2;
	line-height: 1.5;
}

.choose-inner-2{
	overflow: hidden;
	/*padding: 50px;*/
}

.teacher-set{
	width: 30%;
	float: left;
	background-color: white;
	text-align: center;
}

.teacher{
	padding: 30px;
}

.knowledge-set{
	width: 30%;
	float: left;
	background-color: white;
	margin-left: 56.9px;
	margin-right: 56.99px;
	text-align: center;
}

.knowledge{
	padding: 30px;
}

.programme-set{
	width: 30%;
	float: right;
	background-color: white;
	text-align: center;
}

.programme{
	padding: 30px;
}

.right-arrow{
	width: 50px;
	height: 25px;
}

.teacher-h4{
	color: #3d4352;
    font-size: 25px;
    margin-top: 20px;
}

.teacher-p{
	margin-bottom: 20px;
    margin-top: 10px;
    color: #9a97ad;
    line-height: 1.4;
    letter-spacing: 1px;
}

.about{
	background-color: white;
	overflow: hidden;
}

.about-inner{
	width: 75%;
	margin: 0 auto;
	background-color: white;
	overflow: hidden;
	padding-top: 70px;
    padding-bottom: 70px;
}

.about-inner-1{
	width: 50%;
	float: left;
}

.about-inner-content{
	padding: 0px 18px;
}

.about-inner-2{
	width: 50%;
	float: right;
}

.about-headding-1{
	font-size: 16px;
    color: #75cbbe;
    letter-spacing: 4px;
}

.about-headding-2{
	font-size: 32px;
    color: #3f3a64;
    margin-top: 15px;
    margin-bottom: 17px;
}

.about-para-1{
	font-size: 17px;
    line-height: 1.4;
    color: #8c89a2;
}

.about-para-2{
	font-size: 17px;
    line-height: 1.4;
    color: #8c89a2;
    margin-top: 17px;
    margin-bottom: 17px;
}

.about-list{
	padding-left: 19px;
    line-height: 3.5;
    /*list-style-image: url(img/right.jpg);*/ 
    list-style-type: none;
    font-size: 17px;
}

.button-3{
	padding: 9px 21px;
    border-radius: 4;
    background-color: #20ad96;
    color: white;
    border-radius: 6px;
    border: none;
    margin-top: 13px;
    cursor: pointer;
}

.small-arrow{
	width: 25px;
	height: 25px;
	margin-right: 10px;
}


.course{
	/*background-color: antiquewhite;*/
	padding-bottom: 100px;
}

.course-inner{
	width: 75%;
    margin: 0 auto;
    /*background-color: aliceblue;*/
    overflow: hidden;
}

.course-inner-1{
	padding: 100px 0px 60px 0px;
}

.course-inner-content{
	text-align: center;
}

.course-headding-1{
	letter-spacing: 3px;
    color: #75cbbe;
}

.course-headding-2{
	font-size: 30px;
    color: #3f3a64;
    padding: 15px 0px;
}

.course-headding-para{
	color: #8c89a2;
}

.course-inner-2{
	overflow: hidden;
    /*background-color: darkgray*/
}

.english{
	float: left;
    width: 30%;
    /*background-color: aquamarine;*/
}

.math{
	float: left;
    width: 30%;
    margin: 0px 56px;
    /*background-color: aquamarine;*/
}

.physics{
	float: left;
    width: 30%;
    /*background-color: aquamarine;*/
}

.photo > img{
	width: 100%;
}

.course-english-para{
	padding: 15px;
	padding-right: 22px;
}

.eng{
	font-size: 26px;
    padding: 12px 0px;
}

.date{
	color: #8b8b8b;
}

.amount{
	margin-left: 50px;
	color: #20ad96;
}

.eng-para{
	color: #5a5a5a;
	line-height: 1.4;
	margin-bottom: 20px;
}

.button-4{
	padding: 10px 20px;
    background-color: #20ad96;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.statics{
	background-image: url('../img/page_breadcam.png');
	overflow: hidden;
}

.statics-inner{
	width: 75%;
	margin: 0 auto;
	/*background-color: aliceblue;*/
	overflow: hidden;
}

.success{
	width: 25%;
    float: left;
}

.success-1{
	padding: 120px 20px;
	text-align: center;
}

.proudly-1{
	padding: 120px 23px;
	text-align: center;
}

.firmly-1{
	padding: 120px 20px;
	text-align: center;
}

.getting-1{
	padding: 120px 25px;
	text-align: center;
}

.count{
	padding: 15px 0px;
	text-align: center;
}

.success-head{
	color: #3d4352;
}

.count{
	font-size: 40px;
    color: #20ad96;
}

.success-para{
	letter-spacing: 1.5px;
    color: #8c89a2;
}

.mission{
	/*background-color: aliceblue;*/
	overflow: hidden;
	padding: 80px 0px;
}

.mission-inner{
	width: 75%;
	/*background-color: antiquewhite;*/
	margin: 0 auto;
	overflow: hidden;
}

.mission-inner-1{
	width: 50%;
	float: left;
}

.mission-inner-2{
	width: 50%;
	float: right;
}

.mission-image{
	/*width: 100%;
	height: 100%;*/
}

.image{
	width: 100%;
	height: 100%;
}

.mission-inner-text-1 > h4{
	color: #75cbbe;
    letter-spacing: 3px;
}

.mission-inner-text-1 >h2{
	font-size: 30px;
    margin-right: 202px;
    color: #3f3a64;
    padding: 18px 0px;

}

.mission-inner-text-1 > p{
	padding-bottom: 20px;
	color: #5a5a5a;
	line-height: 1.3;
}

.mission-icon{
	float: left;
    border: 1px solid #2DBFBF;
    padding: 10px 16px;
    border-radius: 20px;
    margin-left: 12px;
}

.mission-inner-text-2{
	background-color: #efefefa6;
    /*padding: 9px;*/
    margin-bottom: 30px;
    padding: 20px 0px;
}

.mission-inner-text-2 > h3{
	margin-left: 70px;
    padding-bottom: 7px;
    padding-top: 7px;
    font-size: 23px;
    color: #3f3a64;
}

.mission-inner-text-2 > p{
	margin-left: 70px;
    font-size: 17px;
    color: #8c89a2;
    line-height: 1.3;
    margin-right: 60px;
}

.certificate{
	background-color: rgba(32,173,150,0.08);
	padding: 70px 0px;
}

.certificate-inner{
	width: 75%;
    margin: 0 auto;
    text-align: center;
}

.today{
	color: #75cbbe;
    font-size: 19px;
    letter-spacing: 4px;
}

.today-1{
	color: #20ad96;
    font-size: 19px;
    letter-spacing: 4px;
}

.certificate-inner-text > h2{
	color: #3f3a64;
	margin-bottom: 8px;
    padding: 10px 0px;
    font-size: 30px;
}

.button-5{
	background-color: #20ad96;
    letter-spacing: 2px;
    font-size: 15px;
    padding: 12px 50px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.event{
	padding: 70px 0px;
}

.event-inner{
	margin: 0 auto;
    width: 75%;
    /*background-color: aliceblue;*/
}

.event-inner-top{
	text-align: center;

}

/*.abcd{
	background-color: red;
	height: 100px;
	width: 500px;
}

.efgh{
	background-color: aqua;
	height: 100px;
	width: 500px;
}

.ijk{
	height: 60px;
	width: 60px;
	background-color: pink;
}*/

.event-inner-top >h4{
	color: #75cbbe;
    font-size: 15px;
    letter-spacing: 4px;
}

.event-inner-top >h2{
	padding: 13px 0px;
    font-size: 30px;
    color: #3f3a64;
}

.event-inner-top >p{
	color: #8c89a2;
    padding: 0px 290px;
    line-height: 1.5;
    padding-bottom: 40px;
}

.event-inner-1{
	overflow: hidden;
	padding-bottom: 30px;
}

.event-1{
	width: 50%;
	float: left;
}

.event-2{
	width: 50%;
	float: right;
}

.event-inner-2{
	overflow: hidden;
}

.event-3{
	width: 50%;
	float: left;
}

.event-4{
	width: 50%;
	float: right;
}

.event-image{
	padding: 0px 50px;
}

.event-content{
	background-color: white;
    width: 50%;
    margin-left: 190px;
    margin-top: -118px;
    display: inline-block;
    padding: 15px;
    box-shadow: 0px 0px 3px 2px #f1f1f1;
}

.event-content >h3{
	color: #3d4352;
    font-size: 25px;
}

.event-para{
	color: #8c89a2;
    padding: 8px 0px 20px 0px;
}

.event-para-1{
	color: #8c89a2;
    line-height: 1.5;
    padding-bottom: 20px;
}

.button-6{
	border: none;
    background-color: white;
    color: #20B2AA;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}


.video{
	padding: 70px 0px;
}

.video-inner{
	width: 75%;
    margin: 0 auto;
}

.video-inner-top{
	text-align: center;
}

.video-inner-bottom{
	padding-left: 210px;
}

.video-inner-top >h4{
	color: #75cbbe;
    letter-spacing: 4px;
}

.video-inner-top >h2{
	color: #3f3a64;
    font-size: 33px;
    padding-top: 12px;
    padding-bottom: 10px;
}

.video-image{
	margin-left: 33px;
    margin-top: -129px;
}

.dot-2{
	margin-top: -129px;
    margin-left: 533px;
}



.news{
	padding: 70px 0px;
}

.news-inner{
	width: 75%;
	margin: 0 auto;
}

.news-inner-top{
	text-align: center;
	padding: 25px 0px;
}

.news-inner-top >h4{
	color: #75cbbe;
    letter-spacing: 4px;
}

.news-inner-top >h2{
	font-size: 29px;
    color: #3f3a64;
    padding: 18px 0px;
}

.news-inner-top > p{
	color: #8c89a2;
    padding: 0px 290px;
    line-height: 1.4;
}

.news-inner-bottom{
	overflow: hidden;
}

.books{
	width: 25%;
    float: left;
}

.girl{
	width: 50%;
    float: left;
}

.eat{
	float: right;
    width: 25%;
}

.girl-inner{
	margin-left: 9px;
}

.books-para{
	padding: 15px;
}

.books-para >h5{
	color: #8c89a2;
    font-size: 15px;
}

.books-para >p{
	color: #3f3a64;
    font-size: 22px;
    font-weight: bold;
    margin-right: 56px;
    line-height: 1.4;
    padding: 20px 0px;
}

.books-date{
	font-size: 14px;
    color: #8c89a2;
    margin-right: 55px;
}

.books-view{
	color: #8c89a2;
    font-size: 14px;
}

.girl-para{
	color: white;
    margin-top: -147px;
    padding-left: 20px;
}

.girl-para >h5{
	font-size: 15px;
}

.girl-para >p{
	font-weight: bold;
    font-size: 27px;
    line-height: 1.4;
    margin-right: 115px;
    padding: 2px 0px 15px 0px;
}

.girl-date{
	font-size: 14px;
    margin-right: 55px;
}

.letter{
	background-color: rgba(32,173,150,0.08);
	padding: 90px 0px;
}

.letter-inner{
	width: 75%;
	margin: 0 auto;
}

.letter-content{
	text-align: center;
}

.letter-sub{
	font-size: 30px;
    font-weight: bold;
    color: #3f3a64;
}

.letter-news{
	font-size: 30px;
    font-weight: bold;
    color: #20ad96;
}

.letter-symbol{
	font-size: 30px;
    font-weight: bold;
    color: #3f3a64;
}

.letter-content >P{
	color: #8c89a2;
    padding: 25px 240px;
    line-height: 1.5;
}

.button-8{
	background-color: #1ea48f;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
}

.button-7{
	font-size: 15px;
    border: none;
    text-align: left;
    padding: 15px 200px 15px 10px;
    background-color: white;
    margin-right: -4px;
}

.footer{
	background-color: #EDF1EF;
	padding: 90px 0px;
}

.footer-inner{
	width: 75%;
	margin: 0 auto;
	overflow: hidden;
}

.footer-inner-1{
	width: 25%;
	float: left;
}

.footer-inner-2{
	width: 16%;
	float: left;
}

.footer-inner-3{
	width: 34%;
	float: left;
}

.footer-inner-4{
	width: 25%;
	float: left;
}

.footer-inner-1-content >p{
	color: #3d4352;
    line-height: 1.5;
    padding: 10px 0px 25px 0px;
}

.footer-inner-1-content >h2{
	color: #3d4352;
    font-weight: bold;
}

.footer-inner-1-icon{
	padding-top: 15px;
}

.footer-inner-1-icon >li{
	float: left;
    margin-right: 25px;
    list-style-type: none;
    cursor: pointer;
}

.icon{
	width: 32px;
	height: 32px;
}

.footer-inner-2-content >h3{
	color: #1ea48f;
    font-size: 30px;
    margin-bottom: 20px;
}

.footer-link >li{
	list-style-type: none;
    font-size: 18px;
    margin-bottom: 12px;
    cursor: pointer;
}

.footer-inner-3-content >h3{
	color: #1ea48f;
    font-size: 30px;
    margin-bottom: 20px;
}

.footer-inner-3-top{
	overflow: hidden;
}

.footer-inner-3-top >img{
	float: left;
}

.footer-inner-3-top >h5{
	color: #1ea48f;
    font-size: 19px;
    margin-left: 95px;
    font-weight: 500;
    padding-top: 3px;
    padding-bottom: 10px;
}

.footer-inner-3-top >P{
	color: #8c89a2;
    margin-left: 95px;
}

.footer-inner-3-bottom{
	overflow: hidden;
	padding-top: 22px;
}

.footer-inner-3-bottom >img{
	float: left;
}

.footer-inner-3-bottom >h5{
	color: #1ea48f;
    font-size: 19px;
    margin-left: 95px;
    font-weight: 500;
    padding-top: 3px;
    padding-bottom: 10px;
}

.footer-inner-3-bottom >P{
	color: #8c89a2;
    margin-left: 95px;
}

.footer-inner-4-content >h3{
	color: #1ea48f;
    font-size: 30px;
    margin-bottom: 20px;
}

.footer-add{
	color: #3d4352;
    margin-bottom: 12px;
}

.footer-inner-4-content >p{
	color: #3d4352;
}

.logo{
	overflow: hidden;
	padding: 70px 0px;
}

.logo-set{
	padding-left: 25px;
}

.logo-inner{
	width: 75%;
	margin: 0 auto;
}

.logo-set-inner{
	list-style-type: none;
    float: left;
    padding-right: 130px;
    filter: grayscale(100);
    opacity: 0.4;
}

.logo-set-inner-1{
	list-style-type: none;
    float: left;
    filter: grayscale(100);
    opacity: 0.4;
}

.logos{
	width: 100px;
}

.end-inner{
	text-align: center;
    padding: 20px 0px;
}

.end-inner >P{
	color: #3d4352;
}

.abcd{
	width: 200px;
	height: 200px;
	background-color: red;
	position: fixed;
}